# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Custom exclusions
deleteme/
input/
output/
venv/
venvs/
**/datasets/
**/fake/
**/real/

# Pycahrm IDE folder (Jetbrains)
.idea/

# DSRI folders
/root/EVOL-WGAN-COMPLETE-1/venv1

